<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.FirstName</h5>
        <p class="card-text">@Model.Email</p>
        <p class="card-text">@Model.Address</p>
        <p class="card-text">@Model.Phone</p>

        <a href="#" class="btn btn-primary">Show Employee Details</a>
    </div>
</div>